#home {
	text-align: center;
}

#home button {
	margin: auto;
	width: 350px;
	height: 50px;
	margin-top: 30px;
	display: block;
	border-radius: 1rex;
	font-size: 20px;
	color: rgb(252, 252, 251);
	border-color: #ab95b1;
	border-style: none;
	background:#ab95b1;
}

.banner{
	background:#936a9d;
	min-height: 250px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
}

.banner__text {
	font: 1.2em serif;
	color: hsla(0, 0%, 98%, 0.5);
	font-size: clamp(5rem, 8vw, 20rem);
	padding: 20px;
	width: 10em;
	text-align: center;
}

.background{
	background:#fffbc275;
	height: 500px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}