#password-reset-container {
	text-align: center;
}

#password-reset-container input {
	width:90%;
	max-width: 350px;
	margin: auto;
	margin-top: 10px;
	display: block;
	border-radius: 10px;
	font-size: 20px;
	border-style: solid;
	border-color: #63588381;
	background:#ffffff75;
}
