
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#a484ac;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.navbar-left{
	display: flex;
	align-items: center;
	margin-right: 1dvh;
	margin-left: 1dvh;
}

.navbar-right{
	display: flex;
	align-items: center;
	margin-right: 1dvh;
}

/* Images ------------------------------------------------------ */

.navbar_logo {
	content: url('../../../assets/images/icons/logo.png');
	display: block;
	height: 14dvh;
	width: 14dvh;
	height: auto;
}

.navbar_meet {
	margin-left: 3dvh;
	content: url('../../../assets/images/icons/meet.png');
	display: block;
	height: 8dvh;
	width: 8dvh;
	height: auto;
	opacity: 0.59;
}

.navbar_messageBox {
	margin-right: 3dvh;
	content: url('../../../assets/images/icons/messageBox.png');
	display: block;
	height: 8dvh;
	width: 8dvh;
	height: auto;
	opacity: 0.59;
}

.navbar_messageBox {
	margin-right: 3dvh;
	content: url('../../../assets/images/icons/messageBox.png');
	display: block;
	height: 8dvh;
	width: 8dvh;
	height: auto;
	opacity: 0.59;
}

.navbar_heart {
	margin-right: 3dvh;
	content: url('../../../assets/images/icons/heart.png');
	display: block;
	height: 8dvh;
	width: 8dvh;
	height: auto;
	opacity: 0.9;
}

.navbar_notifs {
	margin-right: 3dvh;
	content: url('../../../assets/images/icons/notifs.png');
	display: block;
	height: 6dvh;
	width: 6dvh;
	height: auto;
}

.navbar_myProfile {
	content: url('../../../assets/images/icons/myProfile.png');
	display: block;
	height: 8dvh;
	width: 8dvh;
	height: auto;
	opacity: 0.59;
}

/* mettre en place responsive 
-> si la fenetre est trop reduite
-> icon qui passe en menu  */