
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#c9b5c2;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	width:100%;
}

.navbar-left {
	display: flex;
	align-items: center;
	margin-right: 1dvh;
	margin-left: 1dvh;
}

.navbar-right {
	display: flex;
	align-items: center;
	margin-right: 1dvh;
}

#navbar-left input {
	width: 90%;
	max-width: 450px;
	height: 5dvh;
	margin: auto;
	margin-top: 2dvh;
	margin-left: 2dvh;
	display: block;
	border-radius: 16rem;
	border-style: none;
	font-size: 20px;
	background:#ffffff75;
}

/* Images ------------------------------------------------------ */

.navbar_logo {
	content: url('../../../assets/images/icons/logo.png');
	display: block;
	height: 14dvh;
	width: 14dvh;
	height: auto;
}

.navbar_search {
	content: url('../../../assets/images/icons/search.png');
	display: block;
	margin-left: 1dvh;
	margin-top: 0.5dvh;
	height: 4dvh;
	width: 4dvh;
	height: auto;
}

.navbar_meet {
	margin-left: 3dvh;
	content: url('../../../assets/images/icons/meet.png');
	display: block;
	height: 8dvh;
	width: 8dvh;
	height: auto;
}

.navbar_messageBox {
	margin-right: 3dvh;
	content: url('../../../assets/images/icons/messageBox.png');
	display: block;
	height: 8dvh;
	width: 8dvh;
	height: auto;
}

.navbar_heart {
	margin-right: 3dvh;
	content: url('../../../assets/images/icons/heart_navBar.png');
	display: block;
	height: 8dvh;
	width: 8dvh;
	height: auto;
}

.navbar_notifs {
	margin-right: 3dvh;
	content: url('../../../assets/images/icons/bell.png');
	display: block;
	height: 6dvh;
	width: 6dvh;
	height: auto;
}

.navbar_myProfile {
	content: url('../../../assets/images/icons/myProfile.png');
	display: block;
	height: 8dvh;
	width: 8dvh;
	height: auto;
}
